   <br>
   <br>
   <hr>
  <div class="footer">
        <p class="footer">Copyright © 2020 . All Rights Reserved. Designed by rastorc3v.com.
        <br>
        The trade marks and images used in the design are the copyright of their respective owners. They are used only for display purpose.
        </p>
    </div>
</div>
 </body>
</html>