<%- include("./partials/header") %>

<div class="container">
    <div class="sidebar">
        <div class="main_img">
            <img  class="main"
                 src="Jackie Martinez2x.jpg" alt="Jackie Martinez">
        </div>
        <h3 class="tennis">TENNIS NEWS</h3>
        <section class="section_first_top">
            <div class="box-text-first">
                <img style=" object-fit: cover; " src="elma.jpg" alt="elma">
                <a style="text-decoration: none; margin-left: 60px; color: black;" href="/campgrounds"><h2>Prince
                        William And Kate Middleto..</h2></a>
                <time datetime="2013-10-25">— October 25, 2013</time>
                <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit,</p>
            </div>
            <div class="box-text-first2">
                <img src="castle.jpg" alt="castle">
                <div class="text">
                    <a style="text-decoration: none;   color: black;" href="/campgrounds"><h2 class="first2">Loris
                            Capirossi Retires, Reders <br> Pay Tribute</h2></a>

                    <p class="left-tennis">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci </p>

                    <hr>

                    <h2 class="first3">Prince William And Kate <br> Middleto..</h2>
                    <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci </p>

                    <hr>

                    <h2 class="first3">Loris Capirossi Retires, Reders Pay Tribute</h2>
                    <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci </p>
                </div>
            </div>
        </section>
        <h3 class="NHL">NHL NEWS</h3>
        <section class="nhl-news">
            <div class="box-text2-first">
                <img style=" object-fit: cover; " src="man.jpg" alt="man">
                <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2>Prince William And Kate
                        Middleto..</h2></a>
                <a href="#">
                    <time>— October 25, 2013</time>
                </a>
                <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit,</p>
            </div>

            <div class="box-text-first2">
                <img style=" object-fit: cover; " src="surfing.jpg" alt="surfing">
                <div class="text">
                    <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2 class="first2">Loris
                            Capirossi Retires, Reders <br> Pay Tribute</h2></a>
                    <p class="left-tennis">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci </p>
                    <hr>
                    <h2 class="first3">Prince William And Kate <br> Middleto..</h2>
                    <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci </p>
                    <hr>
                    <h2 class="first3">Loris Capirossi Retires, Reders Pay Tribute..</h2>
                    <p class="left-p">Maecenas aliquet, elit vitae egestas lacinia, nibh purus accumsan metus, ut mollis
                        est eros tempus. </p>
                </div>
            </div>
        </section>
    </div>


    <!--///////////////-->

    <div class="content">
        <div class="box-top">
            <h3>FEATURED NEWS</h3>
            <section class="arrow-slider">
                <div class="slider-wrapper">
                    <div class="box-text-second">
                        <img src="slider1.jpg" alt="slider">
                        <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2>Loris Capirossi
                                Retires, Reders Pay Tribute</h2></a>
                        <a href="#">
                            <time class="time" datetime="2013-10-25">— October 25, 2013</time>
                        </a>
                        <p class="right-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit,</p>
                    </div>
                    <div class="box-text-second">
                        <img src="robbo.jpg" alt="robbo" >
                        <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2>Loris Capirossi
                                Retires, Reders Pay Tribute</h2></a>
                        <a href="#">
                            <time class="time" datetime="2013-10-25">— October 25, 2013</time>
                        </a>
                        <p class="right-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit,</p>
                    </div>
                    <div class="box-text-second">
                        <img src="Jackie Martinez2.jpg" alt="Jackie Martinez">
                        <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2>Loris Capirossi
                                Retires, Reders Pay Tribute</h2></a>
                        <a href="#">
                            <time class="time" datetime="2013-10-25">— October 25, 2013</time>
                        </a>
                        <p class="right-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit,</p>
                    </div>
                </div>
            </section>
            <section class="fashion">
                <div class="box-text-second2">
                    <h3 class="fashion">FASHION</h3>
                    <img class="fashion-main" src="Jackie Martinez2x.jpg" alt="Jackie Martinez2">
                    <div class="text">
                        <a style="text-decoration: none; color: black;" href="/campgrounds"><h2 class="h2-top">Prince
                                William And Kate Middleto..</h2></a>

                        <a href="#">
                            <time datetime="2013-10-25">— October 25, 2013</time>
                        </a>
                        <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci </p>
                        <hr>
                        <img src="Jackie Martinez1.jpg" alt="Jackie Martinez">
                        <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2 class="first4">Sergio
                                Aguero: Team comes <br> before me</h2></a>

                        <p class="left-p">Maecenas aliquet, elit vitae egestas <br> lacinia, nibh purus accumsan metus,
                            ut mollis est eros tempus sem.</p>
                        <hr>
                        <img src="skygirl.jpg" alt="skygirl">
                        <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2 class="first4">Loris
                                Capirossi Retires, Riders <br> Pay Tribute</h2></a>

                        <p class="left-p">Maecenas aliquet, elit vitae egestas <br> lacinia, nibh purus accumsan metus,
                            ut mollis est eros tempus sem.</p>

                        <h3 class="fashion">SPORTS NEW</h3>
                        <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2 class="h2-fasion">Post
                                with no image thumbnails</h2></a>

                        <a href="#">
                            <time datetime="2013-10-25">— October 25, 2013</time>
                        </a>
                        <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci </p>
                        <hr>
                        <img class="interview" src="interview.jpg">
                    </div>
                    <div class="text-bottom">
                        <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2 class="first2">Loris
                                Capirossi Retires, Reders <br> Pay Tribute</h2></a>

                        <a href="#">
                            <time datetime="2013-10-25">— October 25, 2013</time>
                        </a>
                        <p class="right-sportnew">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit,</p>
                        <br>
                        <br>
                    </div>
                </div>
              </div>
           
        <div class="box-text-second3">
            <h3 class="fashion">VIDEO</h3>
            <a style="text-decoration: none;  color: black;" href="/campgrounds"><h2 class="h2-video">Make Your Own
                    Video Game With No</h2></a>
            <a href="#">
                <time class="time-top" datetime="2013-10-25">— October 25, 2013</time>
            </a>
            <img style=" object-fit: cover; " src="love.jpg" alt="love ">
            <a style="text-decoration: none;  color: black; " href="/campgrounds"><h2 class="h2-video">Make Your Own
                    Video Game With No</h2></a>
            <a href="#">
                <time class="time-top" datetime="2013-10-25">— October 25, 2013</time>
            </a>
            <img style=" object-fit: cover; " src="sunset.jpg" alt="sunset ">
            <a style="text-decoration: none;  color: black; " href="/campgrounds"><h2 class="h2-video">Make Your Own
                    Video Game With No</h2></a>
            <a href="#">
                <time class="time-top" datetime="2013-10-25">— October 25, 2013</time>
            </a>
            <img style=" object-fit: cover; " src="box.jpg" alt="box ">
        </div>
    </div>
    </section>
</div>

<!--/////////////////////-->
<%- include("./partials/footer") %>
</body>
</html>