<%- include("../partials/header") %>   

    <div class="container">
        <div class="sidebar">
            <h3 class="tennis">TENNIS NEWS</h3>
             
            <section class="section_first_top">
              <div class="box-text-first">
                <img style=" object-fit: cover; "  src="tennis.jpg">
                <h2>Prince William And Kate Middleto..</h2>
                <a  href="/contact"><time datetime="2013-10-25">— October 25, 2013</time></a>
                <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
              </div>
          
            <div class="box-text-first2">
               <img src="tennis-small.jpg">
               <div class="text">
                 <h2 class="first2">Loris Capirossi Retires, Reders  <br> Pay Tribute</h2>
                 <p class="left-tennis">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci </p>
                
                 <hr>
        
                  <h2 class="first3">Prince William And Kate Middleto..</h2>
                 <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci </p>

                 <hr>

                 <h2 class="first3">Loris Capirossi Retires, Reders Pay Tribute</h2>
                 <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci </p>
               </div>
            </div>
            </section>
            <h3 class="NHL">NHL NEWS</h3>
                <div class="second-sidebar">
            <section class="nhl-news">
                   <div class="box-text-first">

               <img style=" object-fit: cover; "  src="NHL.jpg">
               <h2>Prince William And Kate Middleto..</h2>
               <a href="#"><time datetime="2013-10-25">— October 25, 2013</time></a>
               <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
               </div>
            
               <div class="box-text-first2">
              <img  src="NHL-small.jpg">
               <div class="text">
                 <h2 class="first2">Loris Capirossi Retires, Reders  <br> Pay Tribute</h2>
                 <p class="left-tennis">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci </p>
                 <hr>
                  <h2 class="first3">Prince William And Kate <br> Middleto..</h2>
                 <p class="left-p">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci </p>
                 <hr>
                 <h2 class="first3">Prince William And Kate <br>  Middleto..</h2>
                 <p class="left-p">Maecenas aliquet, elit vitae egestas lacinia, nibh purus accumsan metus, ut mollis est eros tempus sem. </p>
               </div>
            </div>
            </section>
            </div>
          </div>

          <div class="content">
          <div class="box-top">
            <section class="top-box">
            <div class="box-text-second2-sport">
                <h3 class="fashion">SPORTS NEW</h3>
                 <img  src="sport.jpg">
                <div class="text-bottom">
                 <h2 class="first2">Loris Capirossi Retires, Reders  <br> Pay Tribute</h2>
                 <a href="#"><time datetime="2013-10-25">— October 25, 2013</time></a>
                 <p class="right-sportnew">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>  
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>

<%- include("../partials/footer") %>